<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-white opacity-60"
      >Febrero 2024 - Noviembre 2024</time
    >
    <h3 class="text-lg font-semibol text-green-300 dark:text-white">
      Desarrollador Web
    </h3>
    <p class="text-white opacity-80 mb-4 text-base font-normal">
      Creación y mantenimiento de plataformas web enfocadas en mejorar la
      gestión de proyectos, asegurando un diseño funcional y una experiencia de
      usuario intuitiva.
    </p>
  </li>
</ol>
