<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-white opacity-60"
      >Febrero 2024 - Noviembre 2024</time
    >
    <h3 class="text-lg font-semibol text-cyan-300 dark:text-white">
      Desarrollador Backend - Gestor de Proyectos
    </h3>
    <p class="text-white opacity-80 mb-4 text-base font-normal">
      Diseño e implementación de backend para la plataforma de gestión de proyectos,
      utilizando Django, el framework de Python creando soluciones escalables y fluidas que potencian la 
       productividad y garantizan una experiencia eficiente a través de APIs RESTful.
    </p>
  </li>

  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-white opacity-60"
      >Diciembre 2024 - Actualmente</time>

    <h3 class="text-lg font-semibol text-cyan-300 dark:text-white">
      Desarrollador Fullstack - Plataforma Educativa
    </h3>
    <p class="text-white opacity-80 mb-4 text-base font-normal">
      Desarrollo de una plataforma educativa utilizando React.js en el frontend
       y Node.js en el backend. Implementación de interfaces intuitivas 
       y un backend escalable para optimizar la experiencia de aprendizaje 
       y la interacción entre usuarios.
    </p>
  </li>
</ol>
