<footer class="rounded-lg shadow m-4 bg-neutral-950 mb-10">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm  text-green-300 "
      >© 2024 <a href="" class="hover:underline"
        >Jeinnert Salazar</a
      >. All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap   items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#sobremi" class="hover:text-green-300 transition me-4 md:me-6">Sobre mí</a>
      </li>

      <li>
        <a href="mailto:stevensalazsr@gmail.com" class="hover:text-green-300 transition"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
