<footer class="rounded-lg shadow m-4 bg-neutral-950 mb-10">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-cyan-300"
      >© 2025 <a href="" class="hover:underline">Sebastian Perdomo</a>. All
      Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a
          href="mailto:sebastianoliverosxd2002@gmail.com"
          class="hover:text-cyan-300 transition">Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
