<header
  class="flex justify-center items-center flex-wrap py-5 xl:w-full  sm:w-[600px] md:w-[1120px] lg:w-[740px]"
>
  <nav class="flex flex-row gap-x-5 xl:gap-x-10 opacity-80">
    

    <a class="hover:text-green-300 transition " href="#proyectos">Proyectos</a>
    <a class="hover:text-green-300 transition " href="#experiencia">Experiencia</a>
    <a class="hover:text-green-300 transition " href="#habilidades">Habilidades</a>
    <a class="hover:text-green-300 transition " href="mailto:stevensalazsr@gmail.com"
      >Contacto</a
    >
  </nav>
</header>
